<section class="d-flex justify-content-center align-items-center w-100">
    <div class="d-flex justify-content-between align-items-center gap-2">
        <div class="d-flex flex-column justify-content-between align-items-center gap-1 ">
            <img class="img-fluid rounded" src="images/grp-3.png" />
            <img class="img-fluid rounded" src="images/grp-4.png" />
        </div>
        <div class="d-flex justify-content-between align-items-center gap-2">
            <img class="img-fluid grp-1" src="images/grp-1.png" />
            <img class="img-fluid grp-2" src="images/grp-2.png" />
        </div>
    </div>
</section>