<section>
    <div class="d-flex flex-column align-items-center justify-content-center gap-5">
        <img class="img-fluid" src="images/ban-1.png"/>
        <img class="img-fluid" src="images/ban-2.png"/>
        <img class="img-fluid" src="images/ban-3.png"/>
        <img class="img-fluid" src="images/ban-4.png"/>
        <div class="d-flex gap-2 justify-content-center align-items-center">
            <h1 class="vertical-text align-self-start">LOCALIZAÇÃO</h1>
            <img class="img-fluid" src="images/ban-5.png"/>
        </div>
    </div>
</section>