<header class="">
    <div class="px-2 nav-banner d-flex justify-content-between align-items-center">
        <!-- --- contact ---  -->
        <div class="d-flex justify-content-between align-items-center gap-4">
            <span class="d-flex justify-content-between align-items-center gap-2">
                <i class="bi bi-whatsapp text-white"></i>
                <p class="m-0 text-white">(99) 9 8127-4597</p>
            </span>
            <span class="d-flex justify-content-between align-items-center gap-2">
                <i class="bi bi-envelope-fill text-white"></i>
                <p class="m-0 text-white">reservas&#64;pedracaida.com</p>
            </span>
        </div>

        <!-- -- social icons --  -->
        <div class="d-flex justify-content-between align-items-center gap-3">
            <i class="bi bi-facebook text-white"></i>
            <i class="bi bi-youtube text-white"></i>
            <i class="bi bi-instagram text-white"></i>
        </div>
    </div>
    <nav class="navbar container navbar-expand-lg d-flex justify-content-between align-items-center w-100 ">
        <!-- --- nav header ---  -->
        <div class="d-flex  justify-content-between align-items-center flex-fill">
            <a class="navbar-brand">
                <img src="/images/logo-tp.png" />
            </a>

            <div class="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav align-items-center gap-4">
                        @for (item of navItems; track $index) {
                        <li class="nav-item">
                            @if (item.path) {
                            <a class="nav-link" [routerLink]="item.path" routerLinkActive="active-nav-menu"
                                [routerLinkActiveOptions]="{ exact: item.path === '/' }">
                                {{ item.label }}
                            </a>
                            }
                        </li>
                        }

                        <li class="nav-item">
                            <button class="btn btn-contact px-4">Contato</button>
                        </li>
                        <li class="nav-item">
                            <span class="btn-whatsapp fs-1"><i class="bi bi-whatsapp"></i></span>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>

</header>