.nav-banner {
    background-color: var(--primary-blue);
    ;
}

// --- nav menu --- 
.active-nav-menu {
    position: relative;
    color: var(--nav-blue);

}

.active-nav-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 28px;
    height: 2px;
    background-color: var(--nav-blue);
    transform: translateX(-75%);
    border-radius: 2px;
}

// --- nav btn ---
.btn-contact{
    box-shadow: 0px 8px 24px 0px var(--blue-shadow);
    background-color: var(--primary-green);
    color: white;
}

.btn-whatsapp{
    color: var(--primary-green);
}

.cursor-pointer{
    cursor: pointer;
}