.nav-bar {
    background-color: #133482;

    .cursor-pointer {
        cursor: pointer;
    }

    .active-btn {
        background-color: #17A3DD;
    }


}

.card-title {
    color: #FFB212;
}

.card{
    background-color: #F4F4F4;
    border: none;
}