<section class="">
        <!-- circles ---  -->
        <div class="position-relative my-5">
            <div class="decor-circle big"></div>
            <div class="decor-circle small"></div>
        </div>

        <div class="pt-5 d-flex gap-2">
            <div class="">
                <h1>Conheça a Pedra Caída</h1>
                <div class="description-text">
                    <p class="m-0">No coração da Chapada das Mesas, apresentamos a Pedra Caída, um destino repleto de
                        maravilhas
                        naturais. São seis cachoeiras para visitação e um mundo inteiro de aventuras, um convite para
                        tocar
                        a natureza. Sinta, dos pés à cabeça, a sensação única desse lugar.
                        <br>
                        Injete adrenalina ao encarar a Tirolesa, uma descida que desafia todos os medos. Com 1400 metros
                        de
                        extensão e quase 400 metros de altura, a tirolesa é de tirar o fôlego. Além disso, exercite sua
                        coragem de aventureiro com o teleférico da aventura, trilhas emocionantes e uma pirâmide
                        mística.
                        Venha sentir as melhores vibrações.
                        <br>
                        Descubra a magia da Pedra Caída e encante-se!
                        <br>
                        Não dá para descrever, tem que conhecer.
                    </p>
                </div>
            </div>
            <div class="vertical-text">Conheça a Pedra Caída</div>

        </div>
    </section>