.policies-section {
  position: relative;
}

/* ---------- TABS ---------- */

.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.tab {
  border: none;
  padding: 14px 28px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.tab.orange {
  background: #f28c00;
}

.tab.blue {
  background: #143b8f;
}

.tab.active {
  box-shadow: 0 6px 0 rgba(0,0,0,0.15);
}

/* ---------- CONTENT ---------- */

.policy strong {
  font-weight: 700;
}
/* ---------- DOTS ---------- */

.dot {
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.dot-top-big {
  width: 70px;
  height: 70px;
  background: #1da3d9;
  top: 90px;
  right: 110px;
}

.dot-top-small {
  width: 18px;
  height: 18px;
  background: #143b8f;
  top: 75px;
  right: 70px;
}

.dot-bottom-left {
  width: 140px;
  height: 140px;
  background: #143b8f;
  bottom: 60px;
  left: -150px;
}

.dot-bottom-right-big {
  width: 180px;
  height: 180px;
  background: #1da3d9;
  bottom: 800px;
  right: -200px;
}

.dot-bottom-right-small {
  width: 28px;
  height: 28px;
  background: #143b8f;
  bottom: 750px;
  right: -50px;
}
